#loginForm {
	width: 400px;
	height: 200px;
	border: 1px solid #ccc;
	padding: 10px;

	margin-top: -100px; /* pola visine */
	margin-left: -200px; /* pola širine */
}

#loginForm h2 {
	margin: 0;
	margin-bottom: 18px;
}

.modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: white;
	z-index: 1000;
}

.close-modal {
	position: absolute;
	top: 10px;
	right: 10px;
}

.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	z-index: 500;

	background: #999;
	opacity: 0.6;
}











